<div class="col-sm-12">
    <h3>Projects</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="tab-box-outer">
            <ul class="tab-list">
                <li>
                    <a href="#" class="active" data-tablink="12th">12th</a>
                </li>
                <li>
                    <a href="#" data-tablink="btech">B.Tech</a>
                </li>
                <li>
                    <a href="#" data-tablink="mtech">M.Tech</a>
                </li>
                <li>
                    <a href="#" data-tablink="bca">BCA</a>
                </li>
                <li>
                    <a href="#" data-tablink="mca">MCA</a>
                </li>
            </ul>
            <div class="tab-ind active" data-tabbox="12th">
                <h3>12TH Projects</h3>
            </div>
            <div class="tab-ind" data-tabbox="btech">
                <h3>Btech Projects</h3>
            </div>
            <div class="tab-ind" data-tabbox="mtech">
                <h3>Mtech Projects</h3>
            </div>
            <div class="tab-ind" data-tabbox="bca">
                <h3>BCA Projects</h3>
            </div>
            <div class="tab-ind" data-tabbox="mca">
                <h3>MCA Projects</h3>
            </div>
        </div>
    </div>
</div>