<div class="col-sm-12 page-title">
    <h3>Products</h3>
</div>

<div class="col-sm-12">
    <div class="page-content-main">
        <div class="search-box-head">
            <div class="search-box-ind">
                <input type="text" name="Search Products" id="searchBy" placeholder="Search Keyword only mobile, tv, ac (using mock)"/>
                <input type="button" value="search" id="search-products" />
            </div>
        </div>

        <div class="search-result-wrapper">
            
        </div>
    </div>
</div>