<div class="contact-us-box">
    <a href="#" class="close-contact-form" tabindex="0" id="close-contact-btn" backwordjumpbyid="contact-form-submitbtn">
        <i class="fa fa-close" aria-hidden="true"></i>
    </a>
    <form action="#">
        <ul class="contact-form-list">
            <li>
                <div class="contact-field-ind">
                    <label>Name</label>
                    <input type="text" placeholder="Enter Your Name" tabindex="0" id="contactnameinput">
                </div>
                <div class="contact-field-ind">
                    <label>Email</label>
                    <input type="email" placeholder="Enter Your Email" tabindex="0" >
                </div>
                <div class="contact-field-ind">
                    <label>Mobile No</label>
                    <input type="text" placeholder="Enter Your Mobile no" tabindex="0">
                </div>
                <div class="contact-field-ind">
                    <label>Message</label>
                    <textarea cols="5" rows="3" placeholder="Enter Message" tabindex="0"></textarea>
                </div>
                <div class="contact-field-ind contact-field-control">
                    <input type="reset" value="Reset" tabindex="0">
                    <input type="Submit" value="Submit" tabindex="0" forwordjumpbyid="close-contact-btn" id="contact-form-submitbtn">
                </div>
                
            </li>
        </ul>
    </form>
    
</div>