<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="my-videos-main">
            <div class="my-videos-form">
                <label>Youtube Video Url</label>
                <input type="text" name="youtube-url" placeholder="Paste Youtube URL Here"/>
                <input type="button" name="go" value="GO" class="go-btn"/>
            </div>
            {{!-- <div class="hotstar-placeholder">
                <iframe src="https://www.hotstar.com/news">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div> --}}
            <div class="my-video-placeholder">
                <ul class="videos-list"></ul>
            </div>
        </div>
    </div>
</div>