<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="my-videos-main">
            <div class="my-videos-form">
                <label>Site Url</label>
                <input type="text" name="site-url" placeholder="Paste Site URL Here"/>
                <input type="button" name="go" value="GO" class="go-btn"/>
            </div>
           <div class="site-placeholder">
               <iframe src="https://www.youtube.com/"><p>Your browser does not support iframes.</p></iframe>
            </div>
        </div>
    </div>
</div>