<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="form-changes contact-us-box">
            <form action="#" id="my-form1">
					<ul class="contact-form-list">
						<li>
							<div class="contact-field-ind">
								<label>Name</label>
								<input type="text" placeholder="User Name" name="userName" value="Harsh Singh Yadav">
							</div>
							<div class="contact-field-ind">
								<label>Email</label>
								<input type="email" placeholder="User Email" name="userEmail" value="harshsingh.y@hcl.com">
							</div>
							<div class="contact-field-ind">
								<label>Mobile No</label>
								<input type="text" placeholder="User Mobile no." name="mobileNo" value="9971980456">
							</div>
							<div class="contact-field-ind">
								<label>Message</label>
								<textarea cols="5" rows="3" placeholder="Message" name="message">Lorem Ipsum Dolor Sit Amet</textarea>
							</div>
							<div class="contact-field-ind contact-field-control">
								<input type="reset" value="Reset">
								<input type="Submit" value="Submit">
							</div>
							
						</li>
					</ul>
				</form>
        </div>
    </div>
</div>