.tab-box-outer{
    float: left;width: 100%;
    .tab-list{
        float: left;
        >li{float: left;border:1px solid #000;border-left-width:0;
            >a{
                display: block;
                padding: 10px 35px;
                color: #000;

                &.active{
                    color: #fff;
                    background: #222;
                }
            }

            &:first-child{border-left-width:1px; }
        }
    }

    .tab-ind{
        float: left;
        width: 100%;
        display: none;
        min-height: 250px;
        border: 1px solid #000;
        margin-top: 1px;
        
        &.active{
            display: block;
        }
    }
    
}