<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="box-layout">
            <div class="box-row box-row1">
                <div class="box-ind">
                    <div class="box-ind-inner">
                        <div class="box-ind-content open-orders">
                            <h3>Open Orders</h3>
                            <p>View your open orders</p>
                        </div>
                        <a href="#" class="box-link"></a>
                    </div>
                </div>
                <div class="box-ind">
                    <div class="box-ind-inner">
                        <div class="box-ind-content order-history">
                            <h3>Order History</h3>
                            <p>View your order history and order status</p>
                        </div>
                        <a href="#" class="box-link"></a>
                    </div>
                </div>
                <div class="box-ind">
                    <div class="box-ind-inner">
                    <div class="box-ind-content view-invoices">
                        <h3>View Invoices</h3>
                        <p>View your invoices here</p>
                    </div>
                    <a href="#" class="box-link"></a>
                    </div>
                </div>
            </div>
            <div class="box-row box-row2">
                <div class="box-ind">
                    <div class="box-ind-inner">
                        <div class="box-ind-content notifications">
                        <h3>Notifications</h3>
                        <p>Manage your notifications settings for your orders</p>
                    </div>
                    <a href="#" class="box-link"></a>
                    </div>
                </div>
                <div class="box-ind">
                    <div class="box-ind-inner">
                        <div class="box-ind-content order-proposals">
                        <h3>Order Proposals</h3>
                        <p>View your personalized order proposal from your sales rep here</p>
                    </div>
                    <a href="#" class="box-link"></a>
                    </div>
                </div>
                <div class="box-ind">
                    <div class="box-ind-inner">
                        <div class="box-ind-content online-returns">
                        <h3>Online Returns</h3>
                        <p>Begin your online return here</p>
                    </div>
                    <a href="#" class="box-link"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>