<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        {{!-- <div class="category-box-layout">
            <div class="category-list-wrapper">
                <ul class="category-list">
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>

                            <div class="extra-btn">
                                <div class="button-grad-wrapper block">
                                    <a href="#" class="grad-btn ">This is a Link</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="category-list-ind">
                            <div class="category-list-pic">
                                <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                            </div>
                            <div class="category-list-title">
                                <h3>Test Title1</h3>
                            </div>
                            <a href="#" class="box-link">&nbsp;</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="extra-btn">
            <div class="button-grad-wrapper">
                <a href="#" class="grad-btn">
                    <span class="link-text">This is a Link</span>
                </a>
            </div>
        </div> --}}
        <style>
            h2,h3,h4,h5,div,ul,li,p{margin:0;padding: 0;} ul{list-style: none;}
            .pdf-main{
                text-align: center;
                background: #e0dcdc;
                padding: 50px 0;
            }
            .pdf-header{
                padding: 50px 0;
            }
            .header-desc > h2,
            .header-desc > h3{
                font-size:35px;
                padding-bottom: 24px;
                position: relative;
                text-transform: uppercase;
            }
            .header-desc > h2 > .border,
            .header-desc > h3 > .border{
                position: absolute;
                bottom: 0;
                left: 0;right: 0;margin: 0 auto;
                width: 200px;
                height: 3px;
                background: #d0358b;
            }
            .header-desc > h3{
                margin: 20px 0 10px;
                font-size: 28px;
            }
            .header-desc > h4{
                font-size:16px;
                margin: 15px 0 7px;
            }
            .header-desc > p{
                font-size: 13px;
                font-style: italic;
            }
            .header-desc > p > span{
                margin: 5px;
            }


            .event-details-box{
                padding: 50px 0;
            }
            .event-details-box > h3{
                font-size: 26px;
                padding-bottom: 25px;
                position: relative
            }
            .event-details-box > h3 > .border{
                position: absolute;
                bottom: 0;
                left: 0;right: 0;margin: 0 auto;
                width: 200px;
                height: 3px;
                background: #d0358b;
            }

            .event-details-box > h4{
                margin: 16px 0;
                font-size: 17px;
            }
            .event-details-box > p{
                font-size:14px;
            }

            .item-box{
                margin: 50px 0;
                padding: 30px 0 25px;
            }
            .item-list.level0 > li{
                margin: 30px 0;
            }
            .item-ind-box > h3.category-title{
                font-size: 26px;
                padding-bottom: 25px;
                position: relative
            }

            .item-ind-box > h3.category-title .border{
                position: absolute;
                bottom: 0;
                left: 0;right: 0;margin: 0 auto;
                width: 200px;
                height: 3px;
                background: #d0358b;
            }
            .item-list.level1 li{
                margin-top: 30px;
            }
            .item-list.level1 li h5{
                text-transform: uppercase;
                font-size: 18px;
            }
            .item-list.level1 li p{
                font-size: 14px;
                max-width: 450px;
                margin: 5px 0;
                font-style: italic;
                display: inline-block;
            }

            .thanks-msg > h4{
                font-size: 16px;
            }
            .thanks-msg > p{
                font-size: 14px;
            }

            .thanks-msg > h5{
                margin-top: 15px;
                font-size: 14px;
                text-decoration: underline;
            }
        </style>
        <div class="thanks-msg">
            <h4> Dear Harsh</h4>
            <p style="margin-top:30px;">
                Thank you for your order, created by <a href="https://caters-app.firebaseapp.com">Caters App</a>.
            </p>
            <h5>Please find order details below</h5>
        </div>
        <div class="pdf-main">
            
            <div class="pdf-header">
                <div class="logo"></div>
                <div class="header-desc">
                    <h2>Menu<span class="border"></span></h2>
                    <h3>An Assortment of Vegan <br/>food<span class="border"></span></h3>
                    <p class="for">for</p>
                    <h4>Harsh</h4>
                    <p class="user-details">
                        <span>yadavharsh74@yahoo.com</span>
                        <span>Ph:1234567890</span>
                    </p>
                </div>
            </div>

            <div class="event-details-box">
                <h3>Event Details:<span class="border"></span></h3>
                <h4>Occassion</h4>
                <p>Birthday</p>
                <h4>Event Type:</h4>
                <p>Lunch</p>
                <h4>Number of guests:</h4>
                <p>20</p>
            </div>

            <div class="item-box">
                <ul class="item-list level0">
                    <li>
                        <div class="item-ind-box">
                            <h3 class="category-title">Beverages<span class="border"></span></h3>
                            <ul class="item-list level1">
                                <li>
                                    <h5>aerated Beverage</h5>
                                    <ul class="item-list level2">
                                        <li><h5>Miniral Water</h5></li>
                                    </ul>
                                </li>
                                <li>
                                    <h5>Fresh SugarCane juice</h5>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>