<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        
        <div class="notifications-outer">
            <div class="heading-bar">
                <h3>Order Alerts</h3>
            </div>
            <div class="notifications-table">
                <div class="notifications-row-ind header">
                    <div class="notifications-col">
                        &nbsp;
                    </div>
                    <div class="notifications-col">
                        <h3>Stock Orders</h3>
                    </div>
                    <div class="notifications-col">
                        <h3>Emergency Orders</h3>
                    </div>
                </div>
                <div class="notifications-row-ind header2">
                    <div class="notifications-col">
                       <h3>Notification</h3>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col">
                                <h3>Email</h3>
                            </div>
                            <div class="order-2col">
                                <h3>Text</h3>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col">
                                <h3>Email</h3>
                            </div>
                            <div class="order-2col">
                                <h3>Text</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind content">
                    <div class="notifications-col">
                       <p>Order Confirmation</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-conf-stock-email" readonly checked />
                                    <label for="order-conf-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col stock-text">
                                <div class="checkbox-ind">
                                    {{!-- <input type="checkbox" id="order-conf-stock-text" /> --}}
                                    <input type="checkbox" name="userPreferencesSOOrderConfirmationText" id="userPreferencesSOOrderConfirmationText_id" checked />
                                    <label for="userPreferencesSOOrderConfirmationText_id"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-conf-emergency-email" />
                                    <label for="order-conf-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-conf-emergency-text" />
                                    <label for="order-conf-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind content">
                    <div class="notifications-col">
                       <p>Open Order Status</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="open-order-status-stock-email" readonly checked />
                                    <label for="open-order-status-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col stock-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="open-order-status-stock-text" />
                                    <label for="open-order-status-stock-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="open-order-status-emergency-email" />
                                    <label for="open-order-status-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="open-order-status-emergency-text" />
                                    <label for="open-order-status-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind content">
                    <div class="notifications-col">
                       <p>Order In Process</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-in-process-stock-email" />
                                    <label for="order-in-process-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col stock-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-in-process-stock-text" />
                                    <label for="order-in-process-stock-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-in-process-emergency-email" />
                                    <label for="order-in-process-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-in-process-emergency-text" />
                                    <label for="order-in-process-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind content">
                    <div class="notifications-col">
                       <p>Order Past Due</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-past-due-stock-email" />
                                    <label for="order-past-due-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col stock-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-past-due-stock-text" />
                                    <label for="order-past-due-stock-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-past-due-emergency-email" />
                                    <label for="order-past-due-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-past-due-emergency-text" />
                                    <label for="order-past-due-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind content">
                    <div class="notifications-col">
                       <p>Order Shipped</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-shipped-stock-email" />
                                    <label for="order-shipped-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col stock-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-shipped-stock-text" />
                                    <label for="order-shipped-stock-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-shipped-emergency-email" />
                                    <label for="order-shipped-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="order-shipped-emergency-text" />
                                    <label for="order-shipped-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notifications-row-ind select-all-row">
                    <div class="notifications-col">
                       <p>Opt in for all alerts</p>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col" data-checkbox="stock-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="all-alerts-stock-email" />
                                    <label for="all-alerts-stock-email"></label>
                                </div>
                            </div>
                            <div class="order-2col" data-checkbox="stock-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="all-alerts-stock-text" />
                                    <label for="all-alerts-stock-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notifications-col">
                        <div class="order-2col-wrap">
                            <div class="order-2col" data-checkbox="emergency-email">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="all-alerts-emergency-email" />
                                    <label for="all-alerts-emergency-email"></label>
                                </div>
                            </div>
                            <div class="order-2col" data-checkbox="emergency-text">
                                <div class="checkbox-ind">
                                    <input type="checkbox" id="all-alerts-emergency-text" />
                                    <label for="all-alerts-emergency-text"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>