<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div class="product-details-layout">
            <div class="product-details-inner">
                <div class="product-details-pic">
                    <img src="../images/meritor/Euclid-20Air-20Brake-20Products.jpg" alt="" />
                </div>
                <div class="product-details-desc">
                    <p>Descccription will go here.........</p>
                    <p>Descccription will go here.........</p>
                    <p>Descccription will go here.........</p>
                    <p>Descccription will go here.........</p>
                    <p>Descccription will go here.........</p>
                </div>
            </div>
        </div>
    </div>
</div>