<div class="col-sm-12">
    <h3>&nbsp;</h3>
</div>
<div class="col-sm-12">
    <div class="page-content-main">
        <div id="checklist-placeholder">
            <button id="openCheckList">Get Return Data</button>
            <div id="data-table-placeholder"></div>
        </div>
    </div>
</div>